{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>price</th>
            <th>Time</th>
        </tr>

        <tr>
                {% for dict in table%}
                <tr>
                    {% for key in dict %}
                        <td>{{dict[key]}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

        </tr>



    </table>

{% endblock %}